<!doctype html>
<head>
<link rel="stylesheet" type="text/css" href="../static/style.css" />
<meta http-equiv="refresh" content="{{'25;url='+url_for('login')}}" >
<title>Hello from Music Share</title>
</head>
<form action="{{url_for('refresh')}}" method=post enctype="multipart/form-data">
{% if name %}
  <h1>Welcome {{ name }}!</h1>
{% else %}
  <h1>Hello World!</h1>
{% endif %}
<div>
<input type="file" name="newsong">Add New Song</input>
<input id="refresh" type="Submit" value="Add a song"/>
<br>
</div>
<table id="songs">
<thead>
		<th>Song Title</th>
		<th> </th>
		<th>Album</th>
		<th>Artist</th>
        <th>Duration</th>
        <th>Year</th>
	<th>Like</th>
		<th>Remove</th>
	</thead>
{% for user,song_info in music_table.items() %}
    {% for seq,song in song_info.items() %}
    <tr>
    <td>
    {{song.title}}
    </td>
    <td>
    <a href="{{url_for('stream', receiver_ip = user[0], receiver_port = user[1], song_seq_num = seq)}}"/><img src="../static/pause2.png" height="30" width="30"/></a>
    <a href="{{url_for('stream', receiver_ip = user[0], receiver_port = user[1], song_seq_num = seq)}}"/><img src="../static/play2.png" height="30" width="30"/></a>
    </td>
    <td>
    {{song.album}}
    </td>
    <td>
    {{song.artist}}
    </td>
    <td>
    {{song.length/60}}
    </td>
    <td>
    {{song.year}}
    </td>
    <td>
    <a href="{{url_for('like',seqno=seq,ip=user[0],port=user[1])}}">
    <img id="like" src="../static/like.jpeg" height="30" width="30" /></a>
    </td>
    <td>
    <!-- {% if user == listening_addr %} -->
    <a href="{{url_for('remove',seqno=seq)}}">
      <img id="remove" src="../static/trash.png" height="30" width="30" />
      <a/>
      <!-- {% endif %} -->
    </td>
    </tr>
    {% endfor %}
{% endfor %}
</table>
</form>
